[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Mirror of my work branch
[access "refs/*"]
	owner = group user/aabawer
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/aabawer
	label-Verified = -1..+1 group user/aabawer
	push = group user/aabawer
	read = group user/aabawer
	rebase = group user/aabawer
	removeReviewer = group user/aabawer
	submit = group user/aabawer
[access "refs/heads/*"]
	create = group user/aabawer
	push = +force group user/aabawer
	pushMerge = group user/aabawer
	read = group user/aabawer
[access "refs/tags/*"]
	push = group user/aabawer
	push = +force group user/aabawer
